<div class="container-fluid">
<!-- Page Heading -->
<!-- row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Controller <small>Control Your Plurry</small>
    </h1>
    <div class="controllers">
      <div class="video col-lg-6">
        <% #unless @type3.nil? %>
        <div class="remote">
          <input type="hidden" id="caller-id" size="15">
          <!--
          <button id="connect">Connect</button>
          -->
          <h4 class="video-title">상대 영상</h4>
          <button id="client_btn" class="ui-btn ui-btn-inline">연결하기</button>
          <button id="dial" class="ui-btn ui-btn-inline" style="display:none;">Station에 접속하기</button>
          <video id="remote-video" autoplay></video>
          <div class="local">
            <input type="hidden" id="recipient-id" value="station">
            <video id="local-video" class="col-lg-4" autoplay></video>
          </div>
        </div>
        <div id="video-messages">
        </div>
        <% #end %>
      </div>
      <div class="control col-lg-6">
        <% unless @type2.nil? %>
        <div class="joystick-limit">
          <div id="joystick" class="joystick" data-code="<%= current_user.groups.first.products.first.product_id %>" ></div>
        </div>
        <% end %>
        <% unless @type1.nil? %>
        <p>
          <label for="amount">밥 줄 정도 :</label>
          <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="feed-slider"></div>
        <div class="feed-button">밥주기</div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <h1 class="page-header">
    </h1>

    <div id="dialler" data-active="false">
    </div>
  </div>
  <div class="col-lg-12">
    <% @group.products.each_with_index do |p, i| %>
    <div class="col-lg-6">
      <h3 class="page-header">
        CMD(<%= i %>) <small><%=p.product_id%></small>
      </h3>
      <input type="text" id="input_<%=p.id%>" placeholder="send a test command">
      <div id="msgs_<%=p.id%>" style="height:200px;overflow:scroll;"></div>
    </div>
    <div class="col-lg-6">
      <h3 class="page-header">
        Debugger(<%= i %>) <small><%=p.product_id%></small>
      </h3>
      <input type="text" id="debug_input_<%=p.id%>" placeholder="send a test command">
      <div id="debug_msgs_<%=p.id%>" style="height:200px;overflow:scroll;"></div>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        //cmd javascript
        function show_<%=p.id%>(msg) {
          $("#msgs_<%=p.id%>").prepend(msg+'<br>');
        }
        ws_<%=p.id%> = new WebSocket('ws://' + window.location.host + '/ws/<%=p.product_id%>');
        ws_<%=p.id%>.onopen    = function()  { show_<%=p.id%>('websocket opened'); };
        ws_<%=p.id%>.onclose   = function()  { show_<%=p.id%>('websocket closed'); }
        ws_<%=p.id%>.onmessage = function(m) { show_<%=p.id%>(Date() + ': ' +  m.data); };
        $("#input_<%=p.id%>").keypress(function(e) {
          if (e.which == 13) {
            ws_<%=p.id%>.send($(this).val());
            $(this).val("");
          }
        });

        //debug javascript
        function show_debug_<%=p.id%>(msg) {
          $("#debug_msgs_<%=p.id%>").prepend(msg+'<br>');
        }
        debug_ws_<%=p.id%> = new WebSocket('ws://' + window.location.host + '/ws/debug/<%=p.product_id%>');
        debug_ws_<%=p.id%>.onopen    = function()  { show_debug_<%=p.id%>('websocket opened'); };
        debug_ws_<%=p.id%>.onclose   = function()  { show_debug_<%=p.id%>('websocket closed'); }
        debug_ws_<%=p.id%>.onmessage = function(m) { show_debug_<%=p.id%>(Date() + ': ' +  m.data); };
        $("#debug_input_<%=p.id%>").keypress(function(e) {
          if (e.which == 13) {
            debug_ws_<%=p.id%>.send($(this).val());
            $(this).val("");
          }
        });
      });
    </script>
    <% end %>
  </div>
</div>
<!-- /.row -->
<!-- /.container-fluid -->

<script>
  $(document).ready(function() {
    var $inputDelay = $('#joystick-delay');
    var joystick = new makeJoystick('#joystick', 160)
    //인풋 이벤트(엔터 시에 발동)
    $inputDelay.change(function() {
      var value = $(this).val();
      var max = parseInt($(this).attr('max'));
      var min = parseInt($(this).attr('min'));
      if( value > max )
        value = max;
      else if( value < min )
        value = min;
      $('.joystick-delay-message').text(parseFloat((value / 1000)).toFixed(3) + " 초 딜레이로 변경 되었습니다.")
      joystick.setWebSocketDelay(value);
    });
    //밥주기 슬라이더
    $("#feed-slider").slider({
      range: "max",
      min: 1,
      max: 9,
      value: 1,
      slide: function( event, ui ) {
        $("#amount").val(ui.value + " (최소 1 ~ 최대 9)");
      }
    });
    $("#amount").val($("#feed-slider").slider("value") + " (최소 1 ~ 최대 9)");
    //밥주기 이벤트
    $(".feed-button").click(function() {
      ws_1.send('{"cmd" : 6, "amount" : ' + $("#feed-slider").slider("value") + '}');
    });
  });

document.addEventListener('DOMContentLoaded', function () {
  // PeerJS server location
  var SERVER_IP = 'petsitter.cycorld.com';
  var SERVER_PORT = 3003;

  // DOM elements manipulated as user interacts with the app
  var messageBox = document.querySelector('#video-messages');
  var callerIdEntry = document.querySelector('#caller-id');
  var connectBtn = document.querySelector('#connect');
  var recipientIdEntry = document.querySelector('#recipient-id');
  var dialBtn = document.querySelector('#dial');
  var remoteVideo = document.querySelector('#remote-video');
  var localVideo = document.querySelector('#local-video');

  // the ID set for this client
  var callerId = null;

  // PeerJS object, instantiated when this client connects with its
  // caller ID
  var peer = null;

  // the local video stream captured with getUserMedia()
  var localStream = null;

  // DOM utilities
  var makePara = function (text) {
    var p = document.createElement('p');
    p.innerText = text;
    return p;
  };

  var addMessage = function (para) {
    if (messageBox.firstChild) {
      messageBox.insertBefore(para, messageBox.firstChild);
    }
    else {
      messageBox.appendChild(para);
    }
  };

  var logError = function (text) {
    var p = makePara('ERROR: ' + text);
    p.style.color = 'red';
    addMessage(p);
  };

  var logMessage = function (text) {
    addMessage(makePara(text));
  };

  // get the local video and audio stream and show preview in the
  // "LOCAL" video element
  // successCb: has the signature successCb(stream); receives
  // the local video stream as an argument
  var getLocalStream = function (successCb) {
    if (localStream && successCb) {
      successCb(localStream);
    }
    else {
      navigator.webkitGetUserMedia(
        {
          audio: true,
          video: true
        },

        function (stream) {
          localStream = stream;

          localVideo.src = window.URL.createObjectURL(stream);

          if (successCb) {
            successCb(stream);
          }
        },

        function (err) {
          logError('failed to access local camera');
          logError(err.message);
        }
      );
    }
  };

  // set the "REMOTE" video element source
  var showRemoteStream = function (stream) {
    remoteVideo.src = window.URL.createObjectURL(stream);
  };

  // set caller ID and connect to the PeerJS server
  var connect = function () {
    callerId = callerIdEntry.value;

    if (!callerId) {
      logError('please set caller ID first');
      return;
    }

    try {
      // create connection to the ID server
      peer = new Peer(callerId, {host: SERVER_IP, port: SERVER_PORT});

      // hack to get around the fact that if a server connection cannot
      // be established, the peer and its socket property both still have
      // open === true; instead, listen to the wrapped WebSocket
      // and show an error if its readyState becomes CLOSED
      peer.socket._socket.onclose = function () {
        logError('no connection to server');
        peer = null;
      };

      // get local stream ready for incoming calls once the wrapped
      // WebSocket is open
      peer.socket._socket.onopen = function () {
        getLocalStream();
      };

      // handle events representing incoming calls
      peer.on('call', answer);
    }
    catch (e) {
      peer = null;
      logError('error while connecting to server');
    }
  };

  // make an outgoing call
  var dial = function () {
    if (!peer) {
      logError('please connect first');
      return;
    }

    if (!localStream) {
      logError('could not start call as there is no local camera');
      return
    }

    var recipientId = recipientIdEntry.value;

    if (!recipientId) {
      logError('could not start call as no recipient ID is set');
      return;
    }

    getLocalStream(function (stream) {
      logMessage('outgoing call initiated');

      var call = peer.call(recipientId, stream);

      call.on('stream', showRemoteStream);

      call.on('error', function (e) {
        logError('error with call');
        logError(e.message);
      });
    });
  };

  // answer an incoming call
  var answer = function (call) {
    if (!peer) {
      logError('cannot answer a call without a connection');
      return;
    }

    if (!localStream) {
      logError('could not answer call as there is no localStream ready');
      return;
    }

    logMessage('incoming call answered');

    call.on('stream', showRemoteStream);

    call.answer(localStream);
  };

  // wire up button events
  //connectBtn.addEventListener('click', connect);
  //dialBtn.addEventListener('click', dial);
  $("#client_btn").on("click", function() {
    $("#caller-id").val("client");
    $("#dial").show();
    connect();
  });
  $("#dial").on("click", function() {
    $("#recipient-id").val("station");
    dial();
  });
});
</script>
