<% unless @product.nil? %>
<div class="container-fluid">
<!-- Page Heading -->
<!-- row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Schedule <small>For My Pet</small>
    </h1>
    <div class="schedule-form">
      <p>
        <label for="schedule-amount">밥 줄 정도 :</label>
        <input type="text" id="schedule-amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <div id="schedule-feed-slider"></div>
      <p>
        <label style="margin-top: 25px;" >밥 줄 시간 :</label>
        <input type="text" id="schedule-time" readonly style="border:0; color:#f6931f; font-weight:bold;">
        <p>※ 기본 간격은 15 분 단위이며, 직접 입력 시에는 입력 후 포커스를 해제 해주세요.</p>
      </p>
      <div class="input-group bootstrap-timepicker timepicker">
        <input id="schedule-timepicker" type="text" class="form-control input-small" value="12:00 PM">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
      </div>
      <div class="buttons">
        <div class="schedule-add-button">스케쥴 추가하기</div>
        <div class="schedule-delete-button">스케쥴 삭제하기</div>
      </div>
    </div>
    <div class="schedule-list">
      <h1 class="page-header">
        Schedule List <small>Pet Feed Time</small>
      </h1>
      <table data-height="200" data-click-to-select="true">
        <thead>
          <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id" data-align="center">Slot</th>
            <th data-field="status" data-align="center">Slot Status</th>
            <th data-field="time" data-align="center">Feed Time</th>
            <th data-field="amount" data-align="center">Feed Amount</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="col-lg-6">
      <h3 class="page-header">
        CMD <small><%=@product.product_id%></small>
      </h3>
      <input type="text" id="input_feed" placeholder="send a test command">
      <div id="msgs_feed" style="height:200px;overflow:scroll;"></div>
    </div>
    <div class="col-lg-6">
      <h3 class="page-header">
        Debugger <small><%=@product.product_id%></small>
      </h3>
      <input type="text" id="debug_input_feed" placeholder="send a test command">
      <div id="debug_msgs_feed" style="height:200px;overflow:scroll;"></div>
    </div>
  </div>
</div>
<!-- /.row -->
<!-- /.container-fluid -->

<script>
  $(document).ready(function() {
    var scheduleArray = [];
    var scheduleTable = $('table').bootstrapTable();
    //scheduleTable.bootstrapTable('hideColumn', 'id');
    //cmd javascript
    function show_feed(msg) {
      $("#msgs_feed").prepend(msg+'<br>');
    }
    //ws_feed = new WebSocket('ws://' + window.location.host + '/ws/<%=@product.product_id%>');
    ws_feed = new WebSocket('ws://plurry.cycorld.com:3000/ws/' + '<%=@product.product_id%>');
    ws_feed.onopen    = function()  {
      show_feed('websocket opened'); 
      scheduleTable.bootstrapTable('showLoading');
      scheduleArray = <%= JSON.generate @product.schedule %>
      if(scheduleArray.length == 20) {
        scheduleTable.bootstrapTable('append', scheduleArray);
        scheduleTable.bootstrapTable('hideLoading');
      } else {
        for(var i = 0; i < 20;i++)
          ws_feed.send('{"cmd": 3, "id":' + i + '}');
      }
    };
    ws_feed.onclose   = function()  { show_feed('websocket closed'); }
    ws_feed.onmessage = function(m) { show_feed(Date() + ': ' +  m.data); };
    $("#input_feed").keypress(function(e) {
      if (e.which == 13) {
        ws_feed.send($(this).val());
        $(this).val("");
      }
    });

    //debug javascript
    function show_debug_feed(msg) {
      $("#debug_msgs_feed").prepend(msg+'<br>');
    }
    //debug_ws_feed = new WebSocket('ws://' + window.location.host + '/ws/debug/<%=@product.product_id%>');
    debug_ws_feed = new WebSocket('ws://plurry.cycorld.com:3000/ws/' + 'debug/<%=@product.product_id%>');
    debug_ws_feed.onopen    = function()  { show_debug_feed('websocket opened'); };
    debug_ws_feed.onclose   = function()  { show_debug_feed('websocket closed'); };
    debug_ws_feed.onmessage = function(m) {
      show_debug_feed(Date() + ': ' +  m.data);
      if(m.data.indexOf("rs") != -1) {
        var schedule = JSON.parse(m.data);
        if(schedule.rs == 104) {
          data = scheduleTable.bootstrapTable('getData');
          for(var i = 0; i < data.length; i++) {
            if(data[i].id == schedule.nid) {
              data[i].status = schedule.timestamp == 0;
              data[i].time = secondToStringTime(schedule.timestamp);
              data[i].amount = schedule.amount;
              data = timeSort(data);
              break;
            }
          }
          for(var i = 0;i < data.length; i++) {
            scheduleTable.bootstrapTable('updateRow', { index: i, row: { id: data[i].id, status: data[i].status, time: data[i].time, amount: data[i].amount } });
          }
        } else if(schedule.rs == 103) {
          if(schedule.errcode == 0) {
            var status = schedule.timestamp == 0
            scheduleArray.push({
              id: schedule.nid,
              status: status,
              time: secondToStringTime(schedule.timestamp),
              amount: schedule.amount
            });
            if(scheduleArray.length == 20) {
              scheduleTable.bootstrapTable('append', timeSort(scheduleArray));
              scheduleTable.bootstrapTable('hideLoading');
            }
          } else {
            ws_feed.send('{ "cmd": 3, "id": ' + schedule.nid + '}')
          }
        }
      }
    };

    $("#debug_input_feed").keypress(function(e) {
      if (e.which == 13) {
        debug_ws_feed.send($(this).val());
        $(this).val("");
      }
    });
    var $timepicker = $('#schedule-timepicker').timepicker();

    //스케쥴 슬라이더
    $("#schedule-feed-slider").slider({
      range: "max",
      min: 1,
      max: 9,
      value: 1,
      slide: function( event, ui ) {
        $("#schedule-amount").val(ui.value);
      }
    });
    $("#schedule-amount").val($("#schedule-feed-slider").slider("value"));
    //스케쥴 시간 선택
    $('#schedule-timepicker').change(function() {
      $("#schedule-time").val(stringToSecondTime($timepicker.data('timepicker').getTime()));
    });
    $("#schedule-time").val(stringToSecondTime($timepicker.data('timepicker').getTime()));
    //버튼 이벤트
    $('.schedule-add-button').click(function() {
      var time = $timepicker.data('timepicker').getTime();
      var amount = $("#schedule-feed-slider").slider("value");
      var All = scheduleTable.bootstrapTable('getData');
      var target = null;
      for(var i = 0; i < All.length; i++) {
        if(All[i].time == time) {
          target = All[i];
          break;
        }
      }
      if(target == null) {
        for(var i = 0; i < All.length; i++) {
          if(All[i].status == true) {
            target = All[i];
            break;
          }
        }
      }
      secTime = stringToSecondTime(time)
      if(secTime % 60 == 0)
        ws_feed.send('{ "cmd": 4, "id": ' + target.id + ', "timestamp": ' + stringToSecondTime(time) + ', "amount": ' + amount + '}');
    });

    $('.schedule-delete-button').click(function() {
      var selectArray = scheduleTable.bootstrapTable('getSelections');
      var values = [];
      $.each(selectArray, function(index, row) {
        values.push(row.id);
        ws_feed.send('{ "cmd": 4, "id": ' + row.id + ', "timestamp": 0, "amount": 0 }');
      });
      scheduleTable.bootstrapTable('uncheckAll');
    });
  });
</script>
<% end %>
